:root {
	--stripe-bg: #f1f1f1;
	--header-bg: #444444;
}

html {
	font-family: Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

@media only screen and (min-width: 768px) {
	body {
		margin: 0 auto;
		width: 768px;
	}
}

label {
	padding: 5px;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0.5rem;
}

header h1 {
	text-align: center;
	color: lightgray;
	background-color: var(--header-bg);
}

ul.tasks {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tasks li {
	padding: 5px;
	background-color: grey;
	display: flex;
	justify-content: space-between;
}

ul.tasks li button {
	padding: 5px;
	background-color: burlywood;
	color: black;
}

ul.tasks li:nth-child(even) {
	background-color: burlywood;
	color: black;
}

ul.tasks li:nth-child(even) button {
	background-color: grey;
	color: lightgray;
}

#error_container {
	background-color: red;
}
